.soc {
  display: inline-flex;
  justify-content: center;
  padding: 0.5rem;
  width: 0.875rem;
  height: 0.875rem;
  margin: 1.5rem 0.5rem 1.1rem 0;
  border: 1px solid #666d89;
  border-radius: 50%;
  cursor: pointer;
}

.soc:hover {
  transform: scale(1.1);
}
