<h2>About Us</h2>

<p class="article-desc">Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum. Duis mollis, non commodo
    luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Fusce dapibus, tellus ac cursus commodo, tortor
    mauris condimentum nibh.</p>

<ul class="staff-list">
    <li class="employee-item">
        <img class="empl-img">
        <h3>Adam Jensen</h3>
        <p class="desc">Quisque luctus, quam eget molestie commodo, lacus purus cursus purus, nec rutrum tellus dolor id
            lorem.</p>

        <ul class="social-list">
            <li class="soc fb"></li>
            <li class="soc ggl"></li>
            <li class="soc twt"></li>
            <li class="soc lin"></li>
        </ul>
    </li>
    <li class="employee-item">
        <img class="empl-img">
        <h3>Desmond Miles</h3>
        <p class="desc">Curabitur vestibulum eget mauris quis laoreet. Phasellus in quam laoreet, viverra lacus ut,
            ultrices velit.</p>

        <ul class="social-list">
            <li class="soc fb"></li>
            <li class="soc ggl"></li>
            <li class="soc twt"></li>
            <li class="soc lin"></li>
        </ul>
    </li>
    <li class="employee-item">
        <img class="empl-img">
        <h3>Scolara Visari</h3>
        <p class="desc">Nulla sed nunc et tortor luctus faucibus. Morbi at aliquet turpis, et consequat felis. Quisque
            condimentum.</p>

        <ul class="social-list">
            <li class="soc fb"></li>
            <li class="soc ggl"></li>
            <li class="soc twt"></li>
            <li class="soc lin"></li>
        </ul>
    </li>

</ul>