<div class="menu-btn"
     [hidden]="!isSmallScreen"
     [class.clicked]="isClicked"
     (click)="toggleMenu()"></div>

<ul class="menu-list"
    [class.vertical]="isSmallScreen && !isMenuHidden"
    [hidden]="isSmallScreen && !isMenuHidden">
    <li class="menu-item"
        (click)="toggleMenu()"><a href="#home">Home</a></li>
    <li class="menu-item"
        (click)="toggleMenu()"><a href="#service">Services</a></li>
    <li class="menu-item"
        (click)="toggleMenu()"><a href="#portfolio">Portfolio</a></li>
    <li class="menu-item"
        (click)="toggleMenu()"><a href="#about">About</a></li>
    <li class="menu-item"
        (click)="toggleMenu()"><a href="#contact">Contact</a></li>
</ul>