.phone {
  position: relative;
  background: url("../../../../assets/phone-vertical.svg") no-repeat;
  width: 13.5rem;
  height: 28.625rem;
}

.display {
  position: relative;
  top: 4.063rem;
  left: 0.906rem;
  width: 11.75rem;
  height: 20.813rem;
  background: url("../../../../assets/phone-vertical-display.png");
}
