.shell {
  position: relative;
  display: flex;
  justify-content: space-around;
  background: url("../../../../assets/phone-vertical.svg") no-repeat;
  top: -0.9rem;
  width: 13.5rem;
  height: 28.625rem;
}

.display {
  position: relative;
  top: 4.063rem;
  width: 11.75rem;
  height: 20.813rem;
  background: url("../../../../assets/phone-vertical-display.png") no-repeat;
  cursor: pointer;
}

.switch-btn {
  position: absolute;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  bottom: 0.5rem;
  cursor: pointer;
}
