.container {
  background: #2d303a;
  border-bottom: 0.375rem solid #323746;
  color: #666d89;
  padding: 4rem 2.5rem;
}

h2 {
  line-height: 1.5rem;
  font-size: 1.875rem;
  font-weight: 900;
}

.sort-buttons {
  margin-top: -0.8rem;
}

.sort-btn {
  display: inline-block;
  border: 1px solid #666d89;
  border-radius: 5px;
  padding: 0.2rem 6px;
  font-size: 0.75em;
  margin-right: 0.65rem;
  cursor: pointer;
}

.sort-btn:hover {
  transform: scale(1.1);
}

.portfolio-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex: 4 1 13.75rem;
}

.portfolio-img:nth-child(n + 13) {
  display: none;
}

.portfolio-img {
  margin-top: 1rem;
  height: 12rem;
}
.portfolio-img:hover {
  transform: scale(1.0625);
}
