<div class="portfolio container">
    <h2>Portfolio</h2>
    <p class="article-desc">Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec
        elit.
    </p>

    <ul class="sort-buttons">
        <li class="sort-btn"
            [class.active]="selectedFilter === 'All'"
            (click)="shuffleImg('All')">All</li>
        <li class="sort-btn"
            (click)="shuffleImg('Web Design')"
            [class.active]="selectedFilter === 'Web Design'">Web Design</li>
        <li class="sort-btn"
            (click)="shuffleImg('Graphic Design')"
            [class.active]="selectedFilter === 'Graphic Design'">Graphic Design</li>
        <li class="sort-btn"
            (click)="shuffleImg('Artwork')"
            [class.active]="selectedFilter === 'Artwork'">Artwork</li>
    </ul>

    <ul class="portfolio-list">

        <li class="portfolio-img"
            *ngFor="let item of portfolioService.imgArray">
            <img src="{{item}}">
        </li>

    </ul>
</div>