<h2>Portfolio</h2>
<p class="article-desc">Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
</p>

<ul class="sort-buttons">
    <li class="sort-btn">All</li>
    <li class="sort-btn">Web Design</li>
    <li class="sort-btn">Graphic Design</li>
    <li class="sort-btn">Artwork</li>
</ul>

<ul class="portfolio-list">
    <li class="portfolio-img"></li>
    <li class="portfolio-img"></li>
    <li class="portfolio-img"></li>
    <li class="portfolio-img"></li>
    <li class="portfolio-img"></li>
    <li class="portfolio-img"></li>
    <li class="portfolio-img"></li>
    <li class="portfolio-img"></li>
    <li class="portfolio-img"></li>
    <li class="portfolio-img"></li>
    <li class="portfolio-img"></li>
    <li class="portfolio-img"></li>
</ul>