<div class="services container">
    <h2>Our Services</h2>

    <p class="article-desc">Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum. Duis mollis, non commodo
        luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Fusce dapibus, tellus ac cursus commodo,
        tortor
        mauris condimentum nibh.</p>

    <ul class="services-list">
        <li class="service">
            <img class="serv-img">
            <h3>Custom Design</h3>
            <p>Curabitur vestibulum eget mauris quis laoreet. Phasellus in quam laoreet, viverra lacus ut, ultrices
                velit.
            </p>
        </li>
        <li class="service">
            <img class="serv-img">
            <h3>Responsive Layout</h3>
            <p>Sed porttitor placerat rhoncus. In at nunc tellus. Maecenas blandit nunc ligula. Praesent elit leo.
            </p>
        </li>
        <li class="service">
            <img class="serv-img">
            <h3>Inovative Ideas</h3>
            <p>Quisque luctus, quam eget molestie commodo, lacus purus cursus purus, nec rutrum tellus dolor id lorem.
            </p>
        </li>
        <li class="service">
            <img class="serv-img">
            <h3>24 / 7 Support</h3>
            <p>Vivamus vel quam lacinia, tincidunt dui non, vehicula nisi. Nulla a sem erat. Pellentesque egestas
                venenatis
                lorem.
            </p>
        </li>
        <li class="service">
            <img class="serv-img">
            <h3>Love Is The Answer</h3>
            <p>Nulla sed nunc et tortor luctus faucibus. Morbi at aliquet turpis, et consequat felis. Quisque
                condimentum.
            </p>
        </li>
        <li class="service">
            <img class="serv-img">
            <h3>Feel Like A Star</h3>
            <p>Quisque hendrerit purus dapibus, ornare nibh vitae, viverra nibh. Fusce vitae aliquam tellus.
            </p>
        </li>
    </ul>
</div>