<div class="slider container">
    <div class="btn prev material-icons">
        keyboard_arrow_left
    </div>
    <ul class="slider-images">
        <li class="sld-img sld-img-1">
            <app-phone class="phone"></app-phone>
            <app-phone class="phone horizont"
                       [isHorizontal]="true"></app-phone>
        </li>
        <li class="sld-img sld-img-2">
            <app-phone class="phone mini"></app-phone>
            <app-phone class="phone maxi"></app-phone>
            <app-phone class="phone mini"></app-phone>
        </li>
    </ul>
    <div class="btn next material-icons">
        keyboard_arrow_right
    </div>
</div>