<div class="quote container">
    <h2>Get A Quote</h2>

    <p class="article-desc">Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum. Duis mollis, non commodo
        luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Fusce dapibus, tellus ac cursus commodo,
        tortor
        mauris condimentum nibh.</p>

    <div class="contacts-container">
        <form>
            <input type="text"
                   name="name"
                   id="name"
                   placeholder="Name (required)"
                   onblur="this.placeholder='Name (required)'"
                   onfocus="this.placeholder = ''"
                   required>
            <input type="
                   email"
                   name="email"
                   id="email"
                   placeholder="Email (required)"
                   onblur="this.placeholder='Email (required)'"
                   onfocus="this.placeholder=''"
                   required>
            <input type="
                   text"
                   name="subject"
                   id="subject"
                   placeholder="Subject"
                   onblur="this.placeholder='Subject'"
                   onfocus="this.placeholder = ''">
            <textarea class="details"
                      placeholder="Describe your project in detail..."
                      onfocus="this.placeholder = ''"
                      onblur="this.placeholder='Describe your project in detail...'"></textarea>
            <button class="submit-btn">Send</button>
        </form>
        <div class="info">
            <h3>Contact Information</h3>
            <p class="desc">Quisque hendrerit purus dapibus, ornare nibh vitae, viverra nibh. Fusce vitae
                aliquam
                tellus. Proin sit amet volutpat libero. Nulla sed nunc et tortor luctus faucibus. Morbi at aliquet
                turpis,
                et consequat felis.
            </p>
            <div class="contact-links">
                <div><span class="material-icons">
                        place
                    </span>
                    <a type="location"
                       href="https://www.google.com/maps/@32.9987644,-15.6999934,5.25z ">Elm St. 14/05 Lost City</a>
                </div>
                <div><span class="material-icons">
                        call
                    </span><a type="phone"
                       href="tel:035983318635 ">03528 331 86 35</a></div>
                <div><span class="material-icons">
                        email
                    </span><a type="mail"
                       href="mailto:info@singolo.com">info@singolo.com</a></div>
            </div>

        </div>
    </div>

</div>