/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  -webkit-text-size-adjust: 100%;
  height: 100vh;
}
body {
  margin: 0;
  font-family: Lato, "Helvetica Neue", sans-serif;
}
ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h2 {
  margin: 0;
  text-align: justify;
}

h3 {
  text-align: justify;
}

p {
  text-align: justify;
}

.article-desc {
  font-size: 1.125rem;
  font-weight: 300;
  margin: 1.5rem 0;
  line-height: 1.875rem;
  letter-spacing: 0.012rem;
}
