<div class="main-container">
    <header class="anchor"
            id="home">
        <app-logo class="logo"></app-logo>
        <app-menu class="menu"></app-menu>
    </header>
    <main>
        <app-slider></app-slider>
        <app-services class="anchor"
                      id="service"></app-services>
        <app-portfolio class="anchor"
                       id="portfolio"></app-portfolio>
        <app-about class="anchor"
                   id="about"></app-about>
        <app-quote class="anchor"
                   id="contact"></app-quote>
    </main>
    <footer>
        <div class="cr">© Copyright 2013</div>
        <app-sociale class="soc"></app-sociale>
    </footer>
</div>