.main-container {
  position: relative;
  width: 63.75rem;
  margin: 0 auto;
}
header,
footer {
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
  background: #2d303a;
  border-bottom: 0.45rem solid #323746;
  color: #666d89;
}

.soc {
  margin: 0.5rem 2.5rem;
  text-align: right;
}

.cr {
  padding: 2.5rem;
  font-weight: 900;
}
