<div class="main-container">
    <header id="home">
        <app-logo></app-logo>
        <app-menu></app-menu>
    </header>
    <main>
        <app-slider></app-slider>
        <app-services id="service"></app-services>
        <app-portfolio id="portfolio"></app-portfolio>
        <app-about id="about"></app-about>
        <app-quote id="contact"></app-quote>
    </main>
    <footer>
        <div class="cr">© Copyright 2013</div>
        <app-sociale class="soc"></app-sociale>
    </footer>
</div>